*{
    margin: 0;
}


.grey{
    color: rgb(156, 150, 150);
}

.blu{
    color: rgb(1, 1, 252);
}


/* header */
header{
    background-image: url(../img/pattern.png);
    background-color: rgb(28, 152, 209);
    background-size: 25%;
    background-repeat: repeat;
}

.header-logo{
    margin-top: 50px;
    width: 200px;
    height: 50px;
}

/* main */

#first-section{
    margin: 20px 0px;
}

#datazione{
    font-size: small;
}


/* footer */
.footer-img{
    position: relative;
}

.footer-img-txt{
    position: absolute;
    top: 5px;
    left: 5px;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
}